<template>
  <button class="button" :class="[type]">
    <slot name="left-icon"/>
    <p class="button__text">{{ text }}</p>
    <slot name="rigth-icon"/>
  </button>
</template>

<script lang="ts" setup>
import { defineProps, PropType } from 'vue';

defineProps({
  text: {
    type: String,
  },
  type: {
    type: String as PropType<'primary' | 'secondary' | 'orange'>,
    default: 'primary',
  },
});
</script>

<style lang="scss">
.button{
  display: flex;
  gap: 5px;
  align-items: center;
  width: auto;
  &__text{
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    color: #fff;

    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  &.secondary{
    border: 1px solid #ff8e00;
    border-radius: 5px;
    padding: 10px 15px;
  }
  &.primary{
    border-radius: 5px;
    background: #ff8e00;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 13px 15px;
    .button__text{
      font-weight: 400;
      font-size: 18px;
      text-align: center;
      color: #fff;
    }
  }
}
</style>
