<template>
  <div class="top-girl__container">
    <div class="top-girl__img">
      <img :src="backUrl + girl.images[0].url">
    </div>
    <div class="top-girl__overlay" />
    <div class="top-girl__content">
      <div class="top-girl__bottom">
        <div class="top-girl__bottom-title">
          {{ girl.name }}
        </div>
        <p>
          от <span>{{ minPrice() }}</span>
        </p>
      </div>
      <button v-if="!isCurrentTimeGreaterThan(girl.free_until)" class="top-girl__call btn">
        Жду звонка
      </button>
      <button v-if="girl.state == 'accepted'" class="top-girl__status">
        <svg width="6" height="6" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_361_59)">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M11.6706 2.76843C11.8229 2.9208 11.9085 3.12742 11.9085 3.34287C11.9085 3.55832 11.8229 3.76494 11.6706 3.91731L5.58064 10.0073C5.50016 10.0878 5.40461 10.1516 5.29945 10.1952C5.19429 10.2388 5.08158 10.2612 4.96775 10.2612C4.85392 10.2612 4.7412 10.2388 4.63604 10.1952C4.53088 10.1516 4.43533 10.0878 4.35485 10.0073L1.3291 6.98206C1.2515 6.90711 1.1896 6.81745 1.14702 6.71832C1.10444 6.6192 1.08202 6.51258 1.08109 6.4047C1.08015 6.29681 1.10071 6.18982 1.14156 6.08997C1.18241 5.99012 1.24274 5.8994 1.31903 5.82311C1.39532 5.74682 1.48604 5.68649 1.58589 5.64564C1.68574 5.60479 1.79273 5.58423 1.90061 5.58517C2.0085 5.5861 2.11511 5.60852 2.21424 5.6511C2.31337 5.69368 2.40303 5.75558 2.47798 5.83318L4.96748 8.32268L10.5212 2.76843C10.5966 2.69293 10.6862 2.63304 10.7848 2.59217C10.8835 2.55131 10.9892 2.53027 11.0959 2.53027C11.2026 2.53027 11.3083 2.55131 11.4069 2.59217C11.5056 2.63304 11.5951 2.69293 11.6706 2.76843Z"
              fill="white" />
          </g>
          <defs>
            <clipPath id="clip0_361_59">
              <rect width="13" height="13" fill="white" />
            </clipPath>
          </defs>
        </svg>
        <p>Проверено</p>
      </button>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { defineProps } from 'vue';

const props = defineProps({
  girl: {
    type: Object,
    required: true // исправлено с require на required
  },
  backUrl: {
    type: String,
    default: 'https://api.sochi-night.net',
    required: true
  }
})


function minPrice() {
  // Получаем значения цен из объекта girl
  const hour_apartment_price = props.girl.hour_apartment_price ?? Infinity;
  const two_hours_apartment_price = props.girl.two_hours_apartment_price ?? Infinity;
  const hour_departure_price = props.girl.hour_departure_price ?? Infinity;
  const two_hours_departure_price = props.girl.two_hours_departure_price ?? Infinity;

  // Используем Math.min() для нахождения минимальной цены
  const min = Math.min(
    hour_apartment_price,
    two_hours_apartment_price,
    hour_departure_price,
    two_hours_departure_price
  );

  return min;
}

function isCurrentTimeGreaterThan(isoTime: Date) {
  // Получение текущего времени
  const now = new Date();

  // Преобразование переданного времени из формата ISO в объект Date
  const comparedTime = new Date(isoTime);

  // Сравнение времени и возвращение результата
  return now.getTime() > comparedTime.getTime();
}

// const getImageUrl = () => {
//   // Возвращает полный URL изображения, используя формат small, если доступен, или обычный формат
//   return (props.girl.images?.[0]?.formats?.small?.url || (props.girl.images?.[0]?.url))
//     ? props.backUrl + props.girl.images[0].formats.small.url
//     : props.backUrl + props.girl.images[0].url;
// };
</script>

<style lang="scss">

.top-girl {
  &__container {
    position: relative;
    width: 180px;
    height: 250px;
    border-radius: 6px;
    overflow: hidden;

    @media (min-width: 768px) {
      width: 200px;
      height: 300px;
    }
  }

  &__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #0000003c;
  }

  &__bottom {
    position: absolute;
    right: auto;
    bottom: 0;
    // max-width: 138px;
    width: -webkit-fill-available;
    border-radius: 10px;
    backdrop-filter: blur(2.4000000953674316px);
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    padding: 4.8px;
    margin: 6px;

    @media (min-width: 768px) {
      // max-width: 184px;
      margin: 8px;
      padding: 8px;
    }

    &-title {
      font-weight: 400;
      font-size: 18px;
      line-height: 80%;
      color: #f8f6f5;
      text-transform:uppercase;
      text-shadow: 0 2px 2px 0 #00000040;
      margin-bottom: 6px;

      @media (min-width: 768px) {
        font-size: 20px;
      }
    }

    p {
      font-weight: 400;
      font-size: 15px;
      line-height: 80%;
      color: #ff8e00;
      text-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);

      @media (min-width: 768px) {
        font-size: 18px;
      }
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__call {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
    width: auto;

    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    background: #ff8e00;
    border-radius: 4px;

    font-weight: 400;
    font-size: 7px;
    line-height: 90%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;

    padding: 4px;
    margin: 0;

    @media (min-width: 768px) {
      top: 8px;
      right: 8px;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
      background: #ff8e00;

      line-height: 120%;
      padding: 5px;
    }
  }

  &__status {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;

    background: rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    display: flex;
    gap: 1px;
    align-items: center;

    padding: 3px;

    @media (min-width: 768px) {
      top: 8px;
      left: 8px;

      padding: 3px 6px;
    }

    p {
      font-weight: 400;
      font-size: 7px;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
    }
  }
}
</style>