<template>
  <div class="cover-link">
    <p class="cover-link__content">
      {{ link }}
    </p>
  </div>
</template>

<script lang="ts" setup>
import { defineProps } from 'vue';

defineProps({
  link: {
    type: String
  }
})

</script>

<style lang="scss">
  .cover-link{
    &__content{
      text-shadow: 0 4px 4px #00000040;
      font-size: 12px;
      text-transform: uppercase;
      text-align: center;
      color: #fff;

      background: #ff8e00;
      border-radius: 5px;
      padding: 4px 8px;
      @media (min-width: 768px) {
        border-radius: 10px;
        background: #fa902a33;
        
        font-weight: 400;
        font-size: 32px;
        text-transform: uppercase;
        color: #fa902a;
        
        padding: 10px 26px;
      }
    }
  }
</style>