<template>
  <div class="main-cover">
    <div class="main-cover__container">
      <div class="main-cover__titles">
        <p class="main-cover__subtitle">
          {{ subtitle }}
        </p>
        <p class="main-cover__title">
          {{ title }}
        </p>
      </div>
      <div class="main-cover__content">
        <div class="main-cover__links">
          <slot name="links" />
        </div>
        <div class="main-cover__btns">
          <slot name="btns" />
        </div>
      </div>
    </div>
    <div class="main-cover__img">
      <img :src="pathToImg" alt="main-cover">
    </div>
  </div>
</template>

<script lang="ts" setup>
import { defineProps } from 'vue';

defineProps({
  title: {
    type: String,
    require: true
  },
  subtitle: {
    type: String,
    require: true
  },
  locations: {
    type: Array,
  }, 
  pathToImg: {
    type: String
  }
})
</script>

<style lang="scss">
.main-cover {
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 75px;

  box-shadow: 0 0 35px 0 #ff8e0040;
  background: #2b2a2a40;
  border-radius: 10px;

  padding: 20px 17px;
  @media (min-width: 768px) {
    background: none;
    box-shadow:none;
    justify-content:normal;
    padding: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__subtitle{
    display: none;
    font-weight: 400;
    font-size: 36px;
    color: #ff8e00;
    margin-bottom: 20px;
    @media (min-width: 768px) {
      display: block;
    }
  }
  &__title{
    font-weight: 400;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 112%;
    text-align: center;
    color: #fff;
    @media (min-width: 768px) {
      font-weight: 400;
      font-size: 75px;
      color: #fff;
    }
  }
  &__img{
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
  }
}
</style>