<template>
  <button class="cover-btn" @click="toggleClick">
    {{ text }}
  </button>
</template>

<script setup lang="ts">
import { defineProps, defineEmits } from 'vue';

type EmitFunction = (event: string, ...args: any[]) => void;

const emits: EmitFunction = defineEmits(['on-click']);

defineProps({
  text: {
    type: String
  }
});

function toggleClick(e: MouseEvent) {
  emits('on-click', e);
}
</script>

<style lang="scss">
.cover-btn {
  cursor: pointer;
  
  width: fit-content;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 4px 4px #00000040;

  border-radius: 10px;
  background: #ff8e00;
  padding: 15px;
}
</style>
