<template>
  <header class="header">
    <div class="header__container">
      <div class="header__desktop">
        <div class="header__content desktop">
          <div class="header__links">
            <slot name="desktop" />
          </div>
          <div class="header__login">
            <slot name="login" />
          </div>
        </div>
      </div>
      <div class="header__mobile">
        <div class="header__content mobile">
          <div class="header__top">
            <div class="header__top-logo">
              <slot name="logo" />
              <div class="header__top-auth">
                <slot name="login-mobile" />
              </div>
            </div>
          </div>
          <div class="header__links">
            <slot name="mobile" />
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<style lang="scss">
.header{
  box-shadow: 0 0 20px 0 rgba(255, 142, 0, 0.35);
  background: #ffffff00;
  border-radius: 10px;

  padding: 10px;
  @media (min-width: 768px) {
    box-shadow: 0 5px 5px 0 rgba(255, 142, 0, 0.15);
    background: none;

    padding: 15px;
  }
  &__mobile{
    .header__links{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  &__desktop{
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
    .header__links {
      display: flex;
      gap: 20px;
    }
  }
}
</style>