
<template>
  <div>
    <h1>{{ props.title }}</h1>
    <p>{{ props.content }}</p>
  </div>
</template>

<script lang="ts" setup>
import { defineProps } from 'vue';

const props = defineProps({
  title: {
    type: String,
    default: false,
  },
  content: {
    type: String,
    default: false,
  },
});
// export default {
//   name: 'MyComponent',
//   props: {
//     title: String,
//     content: String
//   }
// }
</script>