<template>
  <div class="cover-links">
    <div class="cover-links__container">
      <slot />
    </div>
  </div>
</template>

<style lang="scss">
  .cover-links{
    &__container{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 8px;
      @media (min-width: 768px) {
        gap: 15px;
        justify-content: normal;
      }
    }
  }
</style>