<template>
  <div class="top-girls">
    <div class="top-girls__container">
      <p class="top-girls__title">
        {{ title }}
      </p>
      <div class="top-girls__content">
        <div class="top-girls__items">
          <slot></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { defineProps } from 'vue';

defineProps({
  title: {
    type: String,
    default: 'Топ 30 sochi-night',
  },
})

</script>

<style lang="scss">
.top-girls {
  display: flex;
  flex-direction: column;
  gap: 35px;

  @media (min-width: 768px) {
    gap: 60px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (min-width: 768px) {
      gap: 30px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;

    @media (min-width: 768px) {
      font-size: 32px;
    }
  }

  &__line {
    background-color: #FF8E00;
    width: 100%;
    height: 3px;
  }

  .swiper-slide {
    width: 180px;

    @media (min-width: 768px) {
      width: 200px;
    }
  }
}
</style>